.construction {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}
h1 {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-align: center;
}
body {
	background-color: #f2f2f2;
}
.coloured {
	display: inline-block;
}
.coloured span:nth-child(odd) {
	color: red;
}
.coloured span:nth-child(even) {
	color: green;
}